/* Tela de Login */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #73F0E2, #73ADF0, #7386F0, #73F0B8);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.mensagem{
    position: fixed; /* Cobrirá toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 209, 245, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    color: #7386F0;
    font-size: 2em;
    text-align: center;
    flex-direction: column;
}

.msg{
    margin-top: 300px;
}

#close-message{
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.container {
    width: 500px;
    height: 400px;
    color: #73F0E2;
    text-align: center;
    background:  rgba(131, 134, 136, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
input {
    padding: 10px;
    width: 80%;
    height: 7%;
    margin-top: 10px;
    border: 2px solid #73F0E2;
    border-radius: 5px;
}
button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    background: #80d0ff;
    color: white;
    border: solid #7386F0; /* Ordem: largura | estilo | cor */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
button:hover {
    
    background: #73F0E2;
}

/* Tela do Jogo */

.game-container {
    width: 1100px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 20px 80px;
    justify-content: center; /* Centraliza o jogo na tela */
    text-align: center;
    background:  rgba(131, 134, 136, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
    z-index: 1; /* Fica abaixo da mensagem */
    position: relative; /* Para contexto de empilhamento */

}
.card {
    width: 130px;
    height: 150px;
    background-color: #80d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s; /* Tempo da animação */
}

/* Frente da carta (o coração) */
.card::before {
    content: "❤️";
    font-size: 60px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; /* Esconde quando virada */

}

/* Verso da carta (a imagem) */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: rotateY(180deg); /* Começa virada */
    backface-visibility: hidden; /* Esconde quando virada */
    position: absolute;
}

/* Quando a carta é virada */
.card.flipped {
    transform: rotateY(180deg);
}
